<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="island!=null">{{island.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="mode=='edit' && island!=null" id="edit-view">
    <ion-label for="islandName">Island Name:</ion-label><br>
    <ion-input [(ngModel)]="islandName" type="text"></ion-input><br><br>

    <ion-label for="islandDesc">Island Description:</ion-label><br>
    <ion-input [(ngModel)]="islandDesc" type="textarea"></ion-input><br><br>

    <ion-label for="islandCountry">Country:</ion-label><br>
    <ion-item>
      <ion-select [(ngModel)]="islandCountry" interface="popover" placeholder="Select">
        <ion-select-option *ngFor="let country of countries; let i=index;" value="{{country.name.common}}">{{country.name.common}}</ion-select-option>
      </ion-select>
    </ion-item><br><br>

    <ion-label for="islandSurface">Surface Area (H):</ion-label><br>
    <ion-input [(ngModel)]="islandSurface" type="text"></ion-input><br><br>
    
    <ion-label for="islandPop">Population</ion-label><br>
    <ion-input [(ngModel)]="islandPop" type="text"></ion-input><br><br>
  
    <span id="cust-label">Images </span>
    <ion-item>
      <ion-label for="islandImg1">
        <ion-button class="img-button" color="primary" type="button">1</ion-button>
        <input style="display: block;" type="file" [(ngModel)]="islandImg1" (change)="selectedFile($event, 1)">
      </ion-label>
      <ion-label for="islandImg2">
        <ion-button class="img-button" color="primary" type="button">2</ion-button>
        <input style="display: block;" type="file" [(ngModel)]="islandImg2" (change)="selectedFile($event, 2)">
      </ion-label>
      <ion-label for="islandImg2">
        <ion-button class="img-button" color="primary" type="button">2</ion-button>
        <input style="display: block;" type="file" [(ngModel)]="islandImg3" (change)="selectedFile($event, 2)">
      </ion-label>
   </ion-item><br>

   <ion-item>
    <ion-button color="success" id="submit-button" type="button" (click)="editIsland()">Save Chnages</ion-button>
    <ion-button color="danger" id="submit-button" type="button" (click)="deleteIsland()">Delete Product</ion-button>

   </ion-item>

  </div>



  <div  *ngIf="mode=='detail' && island!=null"  id="detail-view">
      <img src="../../assets/img/pics/{{island.images[0]}}" style="width: 100%;"/>
        <div id="island-content">
          <p><b>Description:</b> {{island.description}}</p>
          <p><b>Country:</b> {{island.country}}</p>
          <p><b>Population:</b> {{island.population}}</p>
          <p><b>Surface:</b> {{island.surface}}</p>
          <p><b>Coords, longitude / latitude:</b> {{island.longitude}} / {{island.latitude}}</p>
        </div>
  
  </div>
</ion-content>
