<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bigButtonDiv">
      <ion-title>User </ion-title> 
        <ion-button style="text-transform:none; margin-right: 4px;" size="small" color="success" (click)="logOut()">Logout</ion-button>
        <ion-button style="text-transform:none; margin-left: 4px;" size="small" color="success" routerLink="/Home">Home</ion-button>
      </div> 

  </ion-toolbar>
</ion-header>

<ion-content class="center" [fullscreen]="true">
  <ion-card class="ion-card-list" *ngFor="let island of islands; let i=index;">
    <img src="../../assets/img/pics/{{island.image}}" style="width: 100%;"/>
    <ion-card-header  (click)="showIsland(island.id, 'detail')">
      <ion-card-title>{{island.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <div id="island-content">
        <p>{{island.description}}</p>
        <ion-button size="small" color="success" (click)="showIsland(island.id, 'edit')">Edit</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
